<div class="bgimg-1">
  <div class="container">
    <div class="row">
      <section class="col-sm-3"></section>
      <section class="col-sm-6 customInput">
        <!--  <div class="search-results style-3">
            <input type="text" [value]="query" placeholder="type to see pincode can available" ngxTypeahead class="col-sm-12 form-control" [taUrl]="url"
              [taParams]="params" [taItemTpl]="itemTpl" (taSelected)="handleResultSelected($event)">
          </div> -->

        <!-- <div class="form-group">
          <label for="usr" class="pincodeInfo">Search Pincode :</label>
          <input type="text" [value]="query" placeholder="type to see pincode can available" ngxTypeahead class="col-sm-12 form-control"
            [taUrl]="url" [taParams]="params" [taItemTpl]="itemTpl" (taSelected)="handleResultSelected($event)">
        </div>

        <hr>

        <div style="display:display-inline; text-align: center; color: cornsilk;">
          <img [src]="'assets/detect-location.png'" style="width:11%;" />
          <h4>Detect Location</h4>
        </div>

        <ng-template #itemTpl let-result class="list-item">
          <div class="bg-danger">
            <i class="fa fa-heart"></i>
            <strong>{{ result.result }}</strong>
          </div>
        </ng-template> -->

        <div class="custom-autocomplete">
          <div class="custom-autocomplete__container" >
            <div class="custom-autocomplete__input">
              <input  [(ngModel)]="locationInput"  (focus)="showCurrentLocation = true;" (keyup)="getPincodes(locationInput)"
               type="search" name="search" id="search_places"  autocomplete="off">
              <button class="search-icon" (click)="userQuerySubmit()">
                <i  class="search-default-icon"></i>
              </button>
            </div>
            <pre class="custom-autocomplete__loader" *ngIf="gettingCurrentLocationFlag"><i class="gif"></i></pre>
          </div>
          <ul class="custom-autocomplete__dropdown">
            <li *ngIf="showCurrentLocation" class="currentlocation">
              <a href="javascript:;" (click)="currentLocationSelected()">
                <i class="location-icon"></i>Use Current Location
              </a>
            </li>
            <li class="heading heading-recent" *ngIf="queryItems.length"><span>Locations</span><span class="line line-location"></span></li>
           
            <li *ngFor = "let data of queryItems;let $index = index" [ngClass]="{'active': data.active}">
              <a href="javascript:;" (click)="selectedListNode($index)">
                <i class="custom-icon location-default-icon"></i>
                  <span class="main-text">
                    {{data.PINCode}}
                  </span>
                  <span class="secondary_text">{{data.Name}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="custom-autocomplete--error" *ngIf="isSettingsError">{{settingsErrorMsg}}</div>
      
      </section>

    </div>

  </div>
</div>